/* ----------- General Desktop ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	.navbar.desktop, .nav.desktop, .content .tab-content .tab-pane.desktop, .desktop-only{
		display: inherit !important;
	}
  	.navbar.mobile{
		display: none !important;
	}
}


/* ----------- General Tablet + Desktop ----------- */

@media (min-width: 769px) {
}



/* Portrait */
@media (max-width: 568px){
	body{
		padding-top:50px;
	}
	.navbar.mobile{
		display: inherit !important;
		position: fixed;
		margin-top:-1px;
	}
	.navbar-fixed-bottom.mobile{
		display: inherit;
		position: fixed;
		margin-bottom:-2px;
	}

	.navbar-fixed-bottom.mobile ul{
		width:100%;
	}
	.navbar-fixed-bottom.mobile li{
		width:20%;
	}
	.navbar-fixed-bottom.mobile li > *{
		text-align:center;
		font-size:20px;
	}



	.navbar.desktop, .navbar.tablet, .nav.desktop, .content .tab-content .tab-pane.desktop, .desktop-only{
		display: none !important;
	}
}