.content{
	padding-left:0;
}
.sidebar-user .media{
	min-height: 150px;
}
.circle{
	position: absolute;
	border-radius: 50px;
	background:white;
	color:black;
	padding:20px;
	width:60px;
	text-align: center;
	transition: 1s;
}
.circle i{
	font-size: 20px;
}
.circle.active {
	background: #2196F3;
}
.circle.active i{
	color:white;
}
.circle.up{
	top:0;
	left:50%;
	margin-left:-30px;
}
.circle.down{
	top:100px;
	left:50%;
	margin-left:-30px;
}
.circle.left{
	top:50px;
}
.circle.right{
	top:50px;
	left:70%;
}
.circle:hover{
	background: #2196F3;
	cursor:pointer;
}
.circle:hover i{
	color:white;
}
@media (min-width: 769px){
	.nav-tabs.nav-justified > li {
		display: inline-table;
	    width: 150px;
	    max-width:200px;
	}
	.nav-tabs.nav-justified > li > *{
		font-size: 18px;
	}
	.sidebar{
		background-color:#f5f5f5;
	}
	.sidebar .circle {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	.sidebar .circle:hover {
		box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.22);
	}
	.sidebar-category{
		margin-top:20px;
	}

	.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus{
		background-color: white;
    	color: #2196F3;
	}
	.badge.new{
        position:absolute;
        margin-left: 2px;
    	margin-top: -8px;
    }
    .navbar, .navbar-header{
    	background:white;
    }
    .nav-brand-head{
    	float: unset;
    width: 100%;
    max-width: 60%;
    height: 39px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    }
    .nav-brand-head a{
    	text-align: center;
    	width:100%;
    }
}

body.sidebar-xs .sidebar-user .circle{
	padding:10px;
	width:40px !important;
	position: relative;
	margin:0 auto;
	margin-top:15px;
}
body.sidebar-xs .sidebar-user .circle i{
	font-size:16px;
}
body.sidebar-xs .sidebar-user .circle.up, body.sidebar-xs .sidebar-user .circle.down, body.sidebar-xs .sidebar-user .circle.left, body.sidebar-xs .sidebar-user .circle.right{
	top: inherit;
	left: inherit;
} 

.navigation li a{
	color: #888;
}

.navigation li.ad-unit img{
	width:100%;
}
.modal .mention{
	min-height:40px !important;
}